*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-image: url(pexels-pixabay-33582.jpg);
    background-size: cover;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    color: aliceblue;
    background-color: rgba(72, 61, 139, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    font-size: 40px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}